.banner {
    background-position: center bottom !important;
    background-size: cover !important;
    position: relative;
    padding-top: 200px;
    @media screen and (max-width: $screen-md) {
        padding-top: 150px;
    }
    @media screen and (max-width: $screen-xxs) {
        padding-top: 125px;
    }

    p#breadcrumbs {
        padding-top: 0;
        font-size: 12px;
        color:$white;
        font-weight: normal;

        @include respond (screen-lg-md) {
            line-height: 200%;
            padding-bottom: 0;
        }

        .separator {
            margin: 0 5px 0 8px;
        }
    }

    h1 {
        text-transform: none;
        font-size: 60px;
        color:$white;
        line-height: 120%;
        font-weight: $normal;
        margin-bottom: 50px;
        @include respond(screen-xs) {
            font-size: 42px;
        }
        @include respond(screen-xxs) {
            margin-bottom: 30px;
        }
    }

    p {
        color:$white !important;
        max-width: 70%;

        @include respond (screen-lg-md) {
            max-width: 100%;
        }

        &.cta {
            font-weight: bold;
            margin-bottom: 15px;
        }

        &.blog-date {
            margin-bottom: 10px;
        }
    }

    .btn-content {
        .btn-description {
            color: $white;
            margin-bottom: 15px;
            font-weight: $bold;
        }
        .inner-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            grid-gap: 15px;
            .form-link {
                color: $white;
                text-decoration: underline;
                min-width: 150px;
            }
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $blk;
        opacity: 0.8;
    }
}

// sidebar //

.sidebar-block {
    @include respond(screen-sm) {
        margin-top: 30px;
    }

    p.sidebar-more {
        transition:$trans;
        
        a {
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        span {
            rotate:-90deg;
            display:inline-block;
            font-size: 12px;
            margin-left: 5px;
            transition:$trans;
        }
    }
    

    .sidebar-spacer {
        height:1px;
        display: block;
        margin: 40px 0;
        width: 100%;
        background: $blk;
    }

    .sidebar-header {
        display: inline-block;
        font-size: 14px;
        font-family: 'Open Sans',sans-serif;
        font-weight: bold;
        padding: 10px;
        letter-spacing: 4px;
        margin-bottom: 20px;
        background: $orange;
        color: $white;
    }
    
    .testimonial-block {
        padding: 50px;
        box-sizing: border-box;
        background: $grey;
        @include respond(screen-xs) {
            padding:30px;
        }

        p {
            margin-bottom: 0;

            &.testimonial {
                font-size:18px;
                margin-bottom: 50px;
                font-weight: 100;
                line-height: 30px;
            }
        }
    }

    .result-block {
        p {
            &.large {
                margin-bottom: 10px;
            }

            &.result {
                margin-bottom: 0;
            }
        }
    }

    .sidebar-menu {
        #menu-practice-area-menu {
            list-style-type: none;
            margin: 0;

            li {
                margin: 0;
                border-bottom: solid 1px $blk;
                a {
                    display: block;
                    font-size: 16px;
                    padding: 10px 0;
                    line-height: 100%;
                    position: relative;
                    text-decoration: none !important;
                    color: $blk !important;
                    &::after {
                        content:"\e907";
                        font-family: $icomoon;
                        rotate:-90deg;
                        display:inline-block;
                        font-size: 12px;
                        margin-left: 5px;
                        position: absolute;
                        right:0;
                    }
                }

                &.view-all-pa {
                    border-bottom: 0;
                    padding-top: 20px;
                    a {
                        font-weight: $bold;
                        text-decoration: underline;
                        width: fit-content;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}