/**
 * Footer Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

// Contact Page Before Footer - QA Clean UP
#before-footer {
  Section#contact-footer {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(5, 20%);
    padding: 0;
    background-image: url("/wp-content/uploads/2021/08/bg-texture-dark.jpg");

    @media screen and (max-width: $screen-md) {
      display: block;
    }
    .content {
      grid-row: 1 / 6;
      grid-column: 1 / 13;
      padding: 0;
      z-index: 10;

      .wrapper {
        grid-row: 1 / 6;
        grid-column: 1 / 13;
        max-width: 1180px;
        padding: 0 30px;
        margin: 0 auto;

        .contact-info {
          grid-column: 1 / 7;
          grid-row: 1 / 4;
          padding: 75px 0 100px 0;

          .top {
            display: table;
            padding-bottom: 30px;

            p {
              line-height: 30px;
              font-size: 18px;
              font-weight: 300;
              color: $white;

              &:nth-of-type(1) {
                font-size: 22px;
                font-weight: 500;
              }

              &:nth-of-type(2) {
                padding: 0;
              }
              &:nth-of-type(3) {
                padding: 0;
              }
            }
          }
          .middle {
            line-height: 30px;
            padding-bottom: 30px;

            p {
              color: $white;
            }
          }
          .bottom {
            p {
              padding: 0;
            }
          }
          a {
            color: $white;
          }
        }
      }
    }
    .map {
      grid-column: 1 / 13;
      grid-row: 1 / 6;
      display: grid;
      grid-template-columns: repeat(12, 8.33%);
      grid-template-rows: repeat(5, auto);

      .wrapper {
        grid-row: 1 / 6;
        grid-column: 1 / 13;
        width: 60%;
        margin: 0 0 0 auto;

        @media screen and (max-width: $screen-md) {
          width: 100%;
          height: 415px;
        }
      }
    }
  }
}

// default Before Footer
section#before-footer {
    background-image: url("/wp-content/uploads/2021/08/bg-texture-dark.jpg");
    background-size: auto;
    background-repeat: repeat;
    text-align: left;
    padding: 80px 0;

  .gform_required_legend {
        font-weight: 600;
        line-height: 1.3;
        padding: 0;
        font-size: 12px;
        margin-bottom: 20px;
    }

    input#gform_submit_button_1 {
        padding: 15px 40px;
        border: none;
        background: #ce4a36;
        color: white;
        text-transform: uppercase;
    }

  .container {
    display: flex;
    @media screen and (max-width: $screen-md) {
      display: block;
      margin: 0 auto;
      padding: 40px;
      max-width: 640px;
    }

    .left-column {
      width: 50%;
      color: $white;
      @media screen and (max-width: $screen-md) {
        width: 100%;
      }

      @media screen and (max-width: $screen-sm) {
        margin-bottom: 82px;
      }

      @media screen and (max-width: $screen-xs) {
        border-bottom: solid 1px $white;
        margin-bottom: 47px;
      }

      .content-wrapper {
        max-width: 640px;
        @media screen and (max-width: $screen-md) {
          max-width: 100%;
        }

        @media screen and (max-width: $screen-xs) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        p:nth-of-type(1) {
          font-size: 32px;
          font-weight: $light;
          line-height: 42px;
          padding: 0 0 20px 0;
          margin-right: 90px;
          @media screen and (max-width: $screen-sm) {
            margin: 0 auto;
          }
        }
        p:nth-of-type(2) {
          font-size: 16px;
          font-weight: $normal;
          padding: 0 30px 40px 0;
          line-height: 30px;
          max-width: 600px;

          @media screen and (max-width: $screen-md) {
            max-width: unset;
            padding: 0 0 40px 0;
          }
        }
      }
    }
    .right-column {
      color: $white;
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: top;
      @media screen and (max-width: $screen-md) {
        width: 97%;
        display: unset;
      }

      input[type="text"],
      input[type="tel"],
      input[type="email" i],
      .wpcf7-textarea {
        color: $blk;
        font-family: "Poppins";
        font-size: 16px;
      }

      .clearfix {
        @media screen and (min-width: $screen-xs) {
          display: flex;
        }
      }
      .full-width-field {
        margin-top: 12px;
      }
      .left {
        margin-right: 10px;
        @media screen and (max-width: $screen-xs - 1) {
          margin-right: 0;
        }
      }
      .right {
        @media screen and (max-width: $screen-xs - 1) {
          margin-top: 12px;
        }
      }
    }
  }

  button {
    max-width: 279px;
    border: 0;
    margin-bottom: 30px;
    @media screen and (max-width: $screen-md) {
      max-width: 295px;
    }

    @media screen and (max-width: $screen-xs) {
      margin-bottom: 47px;
      max-width: 100%;
      width: 100%;
    }

    a {
      font-size: 18px;
    }
  }
  .vl {
    border-left: 2px solid $white;
    height: auto;
  }
  .right-column {
    @media screen and (max-width: $screen-md) {
      display: unset;
      width: 97%;
    }
  }
}
// default Footer
footer {
  background-color: $white;
  .footer-separator {
    display: flex;
    margin: 0 10px;
  }
  .container {
    padding: 30px;
    text-align: center;

    .footer-link-container {
      display: flex;

      @media screen and (max-width: $screen-xs) {
        &:nth-child(1),
        &:nth-child(2) {
          flex-direction: column;
        }
      }

      &:nth-child(2) {
        .footer-separator {
          @media screen and (max-width: $screen-sm) {
            opacity: 0;
          }
        }
      }

      &:nth-child(1),
      &:nth-child(2) {
        .footer-separator {
          @media screen and (max-width: $screen-sm) {
            display: none;
          }
        }
      }
    }
  }
  p {
    font-family: "Arbutus Slab";
    font-size: 15px;
    text-align: center;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4px 8px;

    a {
      font-family: "Arbutus Slab";
      font-size: 16px;
      text-decoration: underline;
      color: $blk;
      margin: 0 8px;
      &:hover {
        color: $orange;
      }
    }
    strong {
      color: $orange;
      font-weight: normal;
    }
    @media screen and (max-width: $screen-sm) {
      margin: 0 auto;
      padding: 40px 0;
      width: 75%;
    }

    @media screen and (max-width: $screen-xs) {
      flex-direction: column;
    }
  }
  @media screen and (max-width: $screen-md) {
    padding: 0 30px;
  }
}
