/**
 * Header Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

header {
  position: fixed;
  width: 100%;
  height: 120px;
  background: $white;
  z-index: 15;
  top:0;
  
  @media screen and (max-width: $screen-md) {
    height: 68px;
  }
  .container ul li::marker {
    content: unset;
  }
}


#header-top {
  display: flex;
  height: inherit;

  &.container {
    width: 100%;
    max-width: 1600px;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  &.container {
    padding: 0 24px 0 23px;
  }
}

#header-top_left {
  position: fixed;
  width: 100%;
  padding: 0;
  max-width: 275px;
  border: 1px #707070 solid;
  border-top: 0px;
  background: $white;
  z-index: 1;
  @media screen and (max-width: $screen-xxxl) {
    margin-left: 0;
  }
  margin-left: 140px;
  @media screen and (min-width: $screen-xxxl) {
    margin-left: 0;
  }

  img.custom-logo {
    margin: 0 auto;
    width: 175px;
    height: auto;
    padding: 20px;
  }
  @media screen and (max-width: $screen-md) {
    max-width: 193px;
    left: 20px;
    margin-left: 0;
    img.custom-logo {
      width: 150px;
      padding: 10px;
    }
  }
  @media screen and (max-width: $screen-xxs) {
    img.custom-logo {
      width: 125px;
    }
  }
}

#header-top_right {
  width: 75%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: $screen-md) {
    padding: 0;
  }

  #header-top_menu {
    position: absolute;
    top: 0;
    @media screen and (max-width: $screen-md) {
      right: 0;
    }
    @media screen and (max-width: $screen-xxs) {
      width: 100%;
      padding: 0;
    }
  }

  div#header-top_mobile {
    display: block;
    width: 30px;
    position: absolute;
    top: 0;
    right: 30px;
    #menu-icon {
      &.icon {
        hr {
          border: 2px solid $orange;
        }
        &.closed {
          hr {
            border: 2px solid $white;
          }
        }
      }
    }
    a#menu-icon {
      width: 100%;
      align-self: center;
    }

    @media screen and (min-width: $screen-md) {
      display: none;
    }
    @media screen and (max-width: $screen-md) {
      top: 0;
      position: absolute;
      justify-content: center;
      display: flex;
      height: 68px;
    }
  }
}

ul#menu-primary-navigation {
  width: 100%;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: $screen-md) {
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (max-width: $screen-sm) {
    padding-top: 150px;
  }

  & li {
    padding: 34px 0 34px 0;
    min-width: auto;
    margin-left: 40px;

    @media screen and (max-width: $screen-lg) {
      margin-left: 30px;
    }

    @media screen and (max-width: $screen-lg-md) {
      margin-left: 18px;
    }

    @media screen and (max-width: $screen-md) {
      padding: 0;
    }

    a {
      font-family: $arbutus;
      @media screen and (max-width: $screen-lg) {
        font-size: 16px;
      }
    }

    .sub-menu {
      display: none;
      position: absolute;
      margin-top: 25px;
      margin-left: -25px;
      padding: 12px 0px;
      list-style-type: none;

      background-color: $orange;

      li {
        margin-left: 0;
        width: 100vw;
        max-width: 240px;
        text-align: left;
        padding: 6px 20px;
        line-height: 36px;

        @media screen and (max-width: $screen-md) {
          padding-left: 21px;
          padding-bottom: 0px;
          border: 0;
        }

        &:hover > a {
          color: $blk;
        }
        &.current-menu-item > a {
          color: $blk;
        }
        &.current-menu-item:hover > a {
          color: $white;
        }
      }
      &:hover {
        display: block;
      }
    }

    &:hover .sub-menu {
      display: block;
    }
    &.current-menu-item > a {
      color: $orange;
      border-bottom: 2px solid $orange;
      border-width: 4px;
      padding-bottom: 10px;
      @media screen and (max-width: $screen-md) {
        color: $blk;
      }
    }
  }

  & li.contact {
    text-transform: uppercase;
    min-width: unset;
    padding: 14px 30px;
    align-self: center;
    transform: $trans;
    background: linear-gradient(90deg, rgba(190,37,13,1) 0%, rgba(232,89,62,1) 50%, rgba(255,185,54,1) 100%);

    @media screen and (max-width: $screen-md) {
        background:none;
    }

    @media screen and (max-width: $screen-lg) {
      padding: 14px 20px;
    }
    &:hover {
      color: $white;
      background-color: $blk;
      transform: $trans;
    }
    &.current-menu-item {
      background: $orange;
      color: $white;
      border-bottom: 4px solid $blk;
      a {
        color: $white;
      }
    }
  }

    & li.payment-btn {
        position: absolute;
        bottom: -22px;
        right: 0;
        text-decoration: underline;
    
        @media screen and (max-width: $screen-md) {
            position: relative;
            margin-top: -7px !important;
            padding-top: 0 !important;
        }
    
        a {
            color: $blk;
            font-size: 14px;
            text-transform: capitalize;

            @media screen and (max-width: $screen-md) {
                color:$white;
                font-size: 16px;
                text-decoration: none;
            }

            &:hover {
                color: $orange;
            }
        }
    }

  @media screen and (max-width: $screen-md) {
    display: none;

    &.open {
      display: block;
      position: relative;
      background-color: $orange;
      top: -20px;
      padding-top: 40px;
      max-width: 480px;
      margin: 0 0 0 auto;
      right: 0;
      height: 100vh;
      min-height: 515px;

      @media screen and (max-width: $screen-sm) {
        padding-top: 126px;
        max-width: 100%;
        width: 100vw;
      }

      li {
        float: none;
        display: block;
        text-align: left;
        padding: 15px 0;
        margin: 0 25px;

        &:first-child {
          padding-top: 31px;
        }

        &:last-child {
          margin-bottom: 10px;
          padding-top: 16px;
        }

        .sub-menu {
          position: inherit;
          margin: 0;

          li {
            padding: 0 0 0 22px;

            &:first-child {
              margin-bottom: 0;
              padding-top: 0;
            }
          }
        }

        ul {
          display: block;
        }
      }
    }
  }
}
