/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

///// Standard Operations - QA /////

// Breakpoints
$screen-xxxl: 1920px;
$screen-xxl: 1660px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-lg-md: 1024px;
$screen-md: 992px;
// $screen-sm: 768px;
$screen-sm: 820px;
$screen-xs: 667px;
$screen-xxs: 480px;
$screen-xxxs: 360px;

// Containers / Wrappers
$container-max-width-xxxl: $screen-xxxl;
$container-max-width: $screen-xxl;
$container-max-width-xl: $screen-xl;
$container-max-width-lg: $screen-lg;
$content-max-width: $screen-xxxl;
$content-max-width-xl: $screen-xl;
$content-max-width-lg: $screen-lg;
$content-max-width-sm: $screen-sm;

$container-padding: 30px;

// Transitions
$transition-speed: 0.3s;
$transition-fast: 0.3s ease-in-ease-out;
$transition-slow: 0.5s ease-in-ease-out;

// Core Colors
$blk: #1f1c1e;
$white: #ffffff;
$orange: #ce4a36;
$grey: #e9e8e9;

// Font Variables
//[Keep] font-size: calc([min size] + ([max size] - [min size]) * ((100vw - [min vport width]) / ([max vport width] - [min vport width])));

// Link Attributes
// $link-color: $orange;
// $link-hover-color: $grey;
$link-transition-speed: 0.15s;
$trans: 0.3s linear;

// Typography
$poppins: "Poppins", sans-serif;
$arbutus: "Arbutus Slab", sans-serif;
$icomoon: "Icomoon";

// $body-font-family: $overpass;
$body-text-color: $blk;
$body-line-height: 130%;

// Font Weight
$light: 200;
$normal: 400;
$semibold: 600;
$medium: 600;
$bold: 700;
$black: 900;

// Container Variables
