/**
 * Primary theme stylesheet.
 *
 * @package Postali Child
 * @author Postali LLC
 */
/*!* WARNING: This is a generated stylesheet. To make changes edit styles.scss
*/
/**
 * Theme footer
 *
 * @package Postali Child
 * @author Postali LLC
**/
/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */
/**
 * Web Font Styles, H Styles, Body Text Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* Demo Specific Styles */
body {
  line-height: 1.2;
  padding: 0 2em;
  text-align: center;
}

/* Fonts */
body, h1, h2, h3, h4, h5, h6, p, a, ul {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

p, a, ul, ol {
  font-size: 1.125em;
  line-height: 36px;
  margin-bottom: 30px;
}

ul li, ol li {
  margin: 0 0 0 20px;
  font-size: 1.125em;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

a:hover {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 15px 40px;
  text-decoration: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

button {
  font-size: 22px;
}

/**
 * Page Template Styles
 *
 * @package Postali Child
 * @author Postali LLC
*/
#page {
  background-color: #e9e8e9;
  padding-bottom: 30px;
}

section#header-banner {
  height: calc(80vh - 223px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 145px 0 0;
}

section#header-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(60vh - 124px);
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0 0 0 30px;
}

@media screen and (max-width: 768px) {
  section#header-banner .container {
    padding: 0 0 0 30px;
  }
  section#header-banner .container h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 667px) {
  section#header-banner .container {
    display: block;
    padding: 0 30px 0 30px;
  }
  section#header-banner .container h2 {
    font-size: 2em;
  }
}

section#header-banner .content-wrapper {
  width: 60%;
  margin-top: 100px;
  max-width: 785px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}

section#header-banner .content-wrapper h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  text-transform: none;
  padding: .5em 0 .75em 0;
  color: #FFFFFF;
}

section#header-banner .content-wrapper h1 span {
  font-weight: 400;
}

section#header-banner .content-wrapper h2 {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 2.65em;
  color: #FFFFFF;
}

section#header-banner .content-wrapper h3 {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1.65em;
  color: #FFFFFF;
}

section#header-banner .content-wrapper p {
  font-family: 'Poppins';
  font-size: .8em;
  color: #FFFFFF;
  padding: 15px 0;
  line-height: 1.25;
}

section#header-banner .content-wrapper hr {
  border-bottom: 2px solid #FFFFFF;
  margin: 0;
}

section#header-banner .content-wrapper .wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#header-banner .content-wrapper .wrapper-bottom button {
  color: #fff;
  font-family: 'Arbutus Slab';
  background-color: #E7543E;
  padding: 15px 16px;
  width: 33%;
  max-width: 240px;
  border: 0;
}

section#header-banner .content-wrapper .wrapper-bottom .btn-description {
  color: #fff;
  font-family: 'poppins';
  font-size: .55em;
  width: 66%;
  padding: 0 0 0 30px;
  margin: 0 auto;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  section#header-banner .content-wrapper h2 {
    font-size: 72px;
  }
  section#header-banner .content-wrapper p {
    font-size: 32px;
  }
}

@media screen and (max-width: 992px) {
  section#header-banner .content-wrapper h2 {
    font-size: 2.5em;
  }
  section#header-banner .content-wrapper p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  section#header-banner .content-wrapper h2 {
    font-size: 2em;
  }
  section#header-banner .content-wrapper p {
    font-size: 1.2em;
  }
  section#header-banner .content-wrapper hr {
    max-width: 60%;
    margin: 0;
  }
}

@media screen and (max-width: 667px) {
  section#header-banner .content-wrapper {
    display: block;
    width: 100%;
  }
  section#header-banner .content-wrapper p {
    padding: 0 30px;
  }
}

section#header-banner .content-image {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#header-banner .content-image img {
  width: auto;
  height: auto;
  max-height: 57vh;
  margin: auto auto 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  section#header-banner .content-image {
    width: 40%;
  }
}

@media screen and (max-width: 992px) {
  section#header-banner .content-image {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  section#header-banner .content-image {
    width: 73%;
  }
}

@media screen and (max-width: 667px) {
  section#header-banner .content-image {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  section#header-banner .content-image {
    width: 50%;
  }
}

section#header-banner .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  background-color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#header-banner .header-bottom .content-wrapper {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 1280px;
  margin-top: 0;
}

section#header-banner .header-bottom .content-wrapper p {
  font-size: .65em;
  font-weight: 400;
  color: #1F1C1E;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  section#header-banner .header-bottom .content-wrapper h2 {
    font-size: 72px;
  }
  section#header-banner .header-bottom .content-wrapper p {
    font-size: 23px;
  }
}

/**
 * Template Front Page Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/
html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

section#hero {
  height: calc(100vh - 155px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 103px 0 0;
}

section#hero::after {
  content: '';
  position: absolute;
  left: calc(50% - 15px);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #1F1C1E;
  clear: both;
  z-index: 0;
}

section#hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(80vh - 124px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 30px;
}

@media screen and (max-width: 768px) {
  section#hero .container {
    padding: 0 0 0 30px;
  }
  section#hero .container h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 667px) {
  section#hero .container {
    display: block;
    padding: 0 30px 0 30px;
  }
  section#hero .container h2 {
    font-size: 2em;
  }
}

section#hero .content-wrapper {
  width: 60%;
  margin-top: 4.5em;
  max-width: 785px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}

section#hero .content-wrapper h1 {
  font-family: 'Arbutus Slab';
  font-weight: 200;
  text-transform: none;
  padding: 1em 0;
}

section#hero .content-wrapper h2 {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 2.65em;
  color: #FFFFFF;
}

section#hero .content-wrapper h3 {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1.65em;
  color: #FFFFFF;
}

section#hero .content-wrapper p {
  font-family: 'Poppins';
  font-size: .8em;
  color: #FFFFFF;
  padding: 15px 0;
  line-height: 1.25;
}

section#hero .content-wrapper hr {
  border-bottom: 2px solid #FFFFFF;
  margin: 0;
}

section#hero .content-wrapper .content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#hero .content-wrapper .content-bottom button {
  color: #fff;
  font-family: 'Arbutus Slab';
  font-size: 1.375em;
  background-color: #E7543E;
  padding: 15px 16px;
  width: 33%;
  max-width: 240px;
  border: 0;
}

section#hero .content-wrapper .content-bottom .btn-description {
  color: #fff;
  font-family: 'poppins';
  width: 66%;
  padding: 0 0 0 30px;
  margin: 0 auto;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  section#hero .content-wrapper h2 {
    font-size: 72px;
  }
  section#hero .content-wrapper p {
    font-size: 32px;
  }
}

@media screen and (max-width: 992px) {
  section#hero .content-wrapper h2 {
    font-size: 2.5em;
  }
  section#hero .content-wrapper p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  section#hero .content-wrapper h2 {
    font-size: 2em;
  }
  section#hero .content-wrapper p {
    font-size: 1.2em;
  }
  section#hero .content-wrapper hr {
    max-width: 60%;
    margin: 0;
  }
}

@media screen and (max-width: 667px) {
  section#hero .content-wrapper {
    display: block;
    width: 100%;
  }
  section#hero .content-wrapper p {
    padding: 0 30px;
  }
}

section#hero .content-image {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#hero .content-image img {
  width: auto;
  height: auto;
  max-height: 57vh;
  margin: auto auto 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  section#hero .content-image {
    width: 40%;
  }
}

@media screen and (max-width: 992px) {
  section#hero .content-image {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  section#hero .content-image {
    width: 73%;
  }
}

@media screen and (max-width: 667px) {
  section#hero .content-image {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  section#hero .content-image {
    width: 50%;
  }
}

section#hero .hero-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  background-color: #1F1C1E;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#hero .hero-bottom .content-wrapper {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 1280px;
  margin-top: 0;
}

section#hero .hero-bottom .content-wrapper p {
  font-size: .65em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  section#hero .hero-bottom .content-wrapper h2 {
    font-size: 72px;
  }
  section#hero .hero-bottom .content-wrapper p {
    font-size: 23px;
  }
}

section#hero .hero-bottom:after {
  width: 47px;
  height: 24px;
  -webkit-transform: matrix(-1, 0, 0, -1, 0, 0);
          transform: matrix(-1, 0, 0, -1, 0, 0);
  background: #1F1C1E 0% 0% no-repeat padding-box;
  opacity: 1;
}

section#featured {
  background-size: auto;
  background-repeat: repeat;
  text-align: left;
}

section#featured .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#featured .left-column {
  width: 33%;
  max-width: 446px;
}

section#featured .left-column p {
  font-size: 1em;
}

section#featured .left-column p:nth-of-type(1) {
  font-size: 2.2em;
  padding: 10px 0;
  line-height: 1.2;
}

section#featured .left-column p:nth-of-type(2) {
  font-weight: 600;
  padding: 20px 0;
  line-height: 1.3;
}

section#featured .left-column img {
  height: 100%;
  width: auto;
  max-height: 300px;
  padding-top: 30px;
}

section#featured .right-column {
  width: 66%;
  max-width: 738px;
  padding: 0 0 0 120px;
}

section#featured .right-column p {
  line-height: 1.6;
  padding: 0 0 30px 0;
}

section#featured .right-column ul li {
  line-height: 1.6;
  padding: 0 0 30px 0;
  margin: 0;
}

section#practice-areas .container {
  width: 100%;
  max-width: 1920px;
  padding: 0;
}

section#practice-areas .container .section-heading {
  margin-bottom: 30px;
}

section#practice-areas .container .section-heading h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #000;
}

section#practice-areas .container .section-heading h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: .6em;
  color: #000;
  max-width: 430px;
  padding: 15px 0;
  margin: 0 auto;
  line-height: 1.5;
}

section#practice-areas .container .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
}

section#practice-areas .container .content-wrapper .pa {
  width: 33%;
  height: 350px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

section#practice-areas .container .content-wrapper .pa .accordion {
  display: none;
}

section#practice-areas .container .content-wrapper .pa button {
  background-color: #e7543ee3;
  border: 0;
  margin: 0 auto;
  padding: 15px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
}

section#practice-areas .container .content-wrapper .pa button h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

section#practice-areas .container .content-wrapper .pa button:after {
  content: '+';
  font-size: 1.5em;
  color: #fff;
  opacity: 1;
  line-height: 1;
}

section#practice-areas .container .content-wrapper .pa h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: .5em;
  color: #fff;
}

section#practice-areas .container .content-wrapper .pa p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: .75em;
  color: #fff;
}

section#practice-areas .container .content-wrapper .pa a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: .55em;
  color: #fff;
}

section#practice-areas .container#testimonial-slider .vl {
  border-left: 2px solid #E7543E;
  height: auto;
}

section #testimonial-slider .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section #testimonial-slider .slides.slick-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/**
 * Footer Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/
section#before-footer {
  background-image: url("/wp-content/uploads/2021/08/bg-texture-dark.jpg");
  background-size: auto;
  background-repeat: repeat;
  text-align: left;
}

section#before-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#before-footer .container .left-column {
  width: 50%;
  color: #fff;
}

section#before-footer .container .left-column .content-wrapper {
  max-width: 640px;
}

section#before-footer .container .left-column .content-wrapper p:nth-of-type(1) {
  font-size: 1.3em;
  padding: 0 0 20px 0;
  line-height: 1.2;
  margin-right: 90px;
}

section#before-footer .container .left-column .content-wrapper p:nth-of-type(2) {
  font-size: .66em;
  font-weight: 600;
  padding: 0 0 40px 0;
  line-height: 1.3;
}

section#before-footer button {
  color: #fff;
  font-family: 'Arbutus Slab';
  font-size: .75em;
  background-color: #E7543E;
  padding: 15px 30px;
  border: 0;
  margin-bottom: 30px;
}

section#before-footer .vl {
  border-left: 2px solid #fff;
  height: auto;
}

section#before-footer .right-column {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

div.wpcf7 {
  padding: 0px 30px;
  /*--- 2 Column Form Styles Start ---*/
  /*--- 2 Column Form Styles End ---*/
}

div.wpcf7 .left {
  width: 47%;
  float: left;
  margin-right: 6%;
}

div.wpcf7 .right {
  width: 47%;
  float: left;
}

div.wpcf7 .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
  margin-bottom: 10px;
}

div.wpcf7 .clearfix {
  display: block;
}

div.wpcf7 input[type="text"], div.wpcf7 input[type="tel"], div.wpcf7 input[type="email" i], div.wpcf7 .wpcf7-textarea {
  color: #1F1C1E;
  font-family: 'Poppins';
  font-size: 16px !important;
  padding: 10px;
  font-size: 14px;
}

div.wpcf7 input.wpcf7-form-control.wpcf7-text {
  width: 100%;
}

div.wpcf7 textarea.wpcf7-form-control.wpcf7-textarea {
  margin-top: 10px;
  width: 100%;
}

div.wpcf7 input[type="submit" i] {
  font-family: 'Poppins';
  font-size: 16px;
  border: 0;
  color: #fff;
  background-color: #E7543E;
  padding: 10px 15px;
}

footer {
  padding: 30px !important;
}

footer p {
  font-family: 'Arbutus Slab';
  font-size: .5em;
  font-weight: 400;
}

footer p span {
  color: #E7543E;
}

footer p a {
  font-family: 'Arbutus Slab';
  text-decoration: underline;
  color: #000;
}

/**
 * Header Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/
header {
  position: fixed;
  width: 100%;
  height: 121px;
  background: #fff;
  z-index: 1;
}

#header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

#header-top.container {
  width: 100%;
  max-width: 1600px;
  padding-right: 0;
  padding-left: 0;
}

#header-top_left {
  position: absolute;
  width: 100%;
  padding: 0;
  max-width: 360px;
  border: 1px #000 solid;
  border-top: 0px;
  background: #fff;
}

#header-top_left img.custom-logo {
  max-width: 275px;
  margin: 28px auto;
}

#header-top_right {
  width: 100%;
  margin: 17px auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul#menu-primary-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

ul#menu-primary-navigation li {
  font-size: 24px;
  padding: 14px 30px;
  min-width: 140px;
  margin-left: 0;
}

ul#menu-primary-navigation li .sub-menu {
  position: absolute;
  margin-top: 40px;
  list-style-type: none;
  margin-left: -40px;
  background-color: #E7543E;
}

ul#menu-primary-navigation li .sub-menu li {
  margin-left: 0;
  width: 100%;
  max-width: 200px;
  text-align: left;
}

ul#menu-primary-navigation li .sub-menu li a {
  font-size: 18px;
  color: #FFFFFF;
  text-transform: capitalize;
}

ul#menu-primary-navigation li .sub-menu li.current-menu-item a {
  color: #1F1C1E;
}

ul#menu-primary-navigation li a {
  font-family: 'Arbutus Slab';
  color: #000;
}

ul#menu-primary-navigation li:last-child > a {
  color: #fff;
}

ul#menu-primary-navigation li:last-child {
  font-size: 21px;
  text-transform: uppercase;
  background-color: #E7543E;
  min-width: unset;
}

#header-top_mobile {
  display: none;
}

/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  border: 0;
}

html, body {
  font-size: 1em;
  font-size: 16px;
  line-height: 1;
}

header, nav, footer, article, section {
  display: block;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: bold;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

::marker {
  color: #E7543E;
  font-size: 1.2em;
}

ol {
  margin-left: 20px;
}

blockquote {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #E7543E;
}

a img {
  border: none;
}

.tsh_breadcrumbs li {
  font-family: 'Arbutus Slab', sans-serif;
  font-size: .5em;
  color: #e9e8e9;
  padding: 15px 0 5px;
}

.tsh_breadcrumbs li a {
  font-family: 'Arbutus Slab';
}

#tsh_breadcrumbs {
  overflow: hidden;
  text-align: left;
  list-style: none;
  margin: 11px 0;
}

#tsh_breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
}

#tsh_breadcrumbs li:first-of-type {
  margin-left: 0;
}

body {
  margin: 0;
}

.container {
  max-width: 1400px;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

section {
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  section {
    padding: 60px 0;
  }
}

@media screen and (max-width: 667px) {
  section {
    padding: 40px 0;
  }
}

button {
  color: #fff;
  font-family: 'Arbutus Slab';
  background-color: #E7543E;
  padding: 15px 21px;
  width: 100%;
  max-width: 430px;
  border: 0;
  margin: 0 auto 0 0;
}

button a {
  color: #fff;
}

button a:after {
  content: '>';
  float: right;
}
/*# sourceMappingURL=styles.css.map */